@use '../typography' as *;
@use "../transition.scss" as *;

header.site-header {
	width: 100%;
	padding: var(--spacing-200) var(--spacing-400);
	background-color: var(--color-blue-900);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--color-white);
	box-shadow: var(--box-shadow);
	@include transition;
}

.site-header h1 {
	@include text-preset-4-semibold;
}

.theme-toggle {
	display: inline-flex;
	align-items: center;
	gap: var(--spacing-100);
	border: none;
	border-radius: 0.5rem;
	background-color: transparent;
	color: var(--color-white);
	cursor: pointer;
	@include text-preset-6-semibold;
}

@media screen and (width > 576px) {
	header.site-header {
		padding: var(--spacing-300) var(--spacing-1000);
	}

	.site-header h1 {
		@include text-preset-2;
	}

	.theme-toggle {
		@include text-preset-4-semibold;
	}
}
